

/* Bebas Neue Regular */
@font-face {
  font-family: 'BebasNeue';
  src: url(AppFonts/BebasNeue-Regular.ttf) format('truetype');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* EB Garamond Italic */
@font-face {
  font-family: 'EBGaramond It';
  src: url(AppFonts/EBGaramond-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* EB Garamond Medium */
@font-face {
  font-family: 'EBGaramond Med';
  src: url(AppFonts/EBGaramond-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* EB Garamond SemiBold */
@font-face {
  font-family: 'EBGaramond SemiBold';
  src: url(AppFonts/EBGaramond-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* EB Garamond SemiBold Italic */
@font-face {
  font-family: 'EBGaramond SemiBold It';
  src: url(AppFonts/EBGaramond-SemiBoldItalic.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

/* EB Garamond Regular */
@font-face {
  font-family: 'EBGaramond Reg';
  src: url(AppFonts/EBGaramond-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* EB Garamond Bold */
@font-face {
  font-family: 'EBGaramond Bold';
  src: url(App/AppFonts/EBGaramond-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* EB Garamond ExtraBold */
@font-face {
  font-family: 'EBGaramond XBold';
  src: url(AppFonts/EBGaramond-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* EB Garamond ExtraBold Italic */
@font-face {
  font-family: 'EBGaramond XBold It';
  src: url(AppFonts/EBGaramond-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 800;
  font-style: italic;
}

/************************************************************/
:root {
    --MainOrange-color: #f26522;
    --BrightOrange-color: #f78f30;
    --AccentDarkRed-color: #7f2119;
    --BLACK-color: #000000;
    --asheForestBrown-color: #45311e;
    --DarkGrey-color: #16181a; 
  }

  *{
    min-width: 0%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    min-height: 100vh; /* Ensure body takes at least full viewport height */
    width: 100%;      /* Ensure body takes full viewport width */
  }

#header{
    background-color: #000000;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#headerLogo{
    width: 73%;
    margin-left: 25px;
}

nav{
  position: relative;
  display: grid;
  grid-template-columns: 85% 15%;
  border: #0d01ff 3px solid;
  width: 100%;
}


#navList1{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  justify-content: space-between;
  justify-items: start;
  padding-top: 1em;
  border: #76dc0f 3px solid;
  
}

#navList1 > li {
  color: var(--MainOrange-color);
    font-family: 'BebasNeue';
    font-weight: 300;
    font-size: 2.15em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-left: -1em;
    
}

#iconImgs{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: #7f2119 3px solid;
}


.imgs{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}


/*@media(max-width: 390px){
  
  #header{
    background-color: #960505;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: .5em;
    padding-bottom: .5em;
  }

}

